//-genetated file
script#AuthModal(type='text/template')
  include AuthModal/AuthModal
script#ConfirmModal(type='text/template')
  include ConfirmModal/ConfirmModal
script#GithubModal(type='text/template')
  include GithubModal/GithubModal
script#RoomShareModal(type='text/template')
  include RoomShareModal/RoomShareModal
