.index_page{
  background-color: #eee;
  background-image: url(../images/index/bg.jpg);
  background-size: cover;
  height: 100%;
  color: $color2;
  color: #200605;
  overflow: auto;
  font-family: 'PT Sans Narrow', sans-serif;

  .frosty{
    background-color: rgba(255,255,255,0.85);
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 30px;
    height: 590px;
  }

  h1 {
    font-size: 60px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: -1px;
    text-align: center;
    margin: 0.33em 0;
  }
  .slogan{
    text-align: center;
    font-size: 30px;
  }

  .logo{
    @extend .img_index_logo-black;
    margin: 0 auto;
  }

  &__button{
    font-size: 20px;
    display: block;
    width: 250px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: $color1;
    margin: 20px auto;
    border-radius: 0;
    text-decoration: none;

    border: 1px solid darken($color1, 10%);
    &:hover{
      background-color: lighten($color1, 5%);
      color: #fff;
    }
  }
}
