//- .index_page
.frosty
  .logo
  h1 Jukebuzz

  p.slogan Office music listening was never<br> so fair and easy!

  p.content Create own rooms, invite your teammates - coins will be collected automatically for free and for you work results (Github commit activities can be collected). Сollaborate with your teammates building collective playlist and listen it easily from one sound source. Showing crackerjack music visualization and track title with any projector on a wall will be a pleasant bonus.

  a.btn.btn-lg.btn-default.index_page__button(href='/auth/github' target='_blank' data-js-sign-in) Sign in with Github
  a.btn.btn-lg.btn-default.index_page__button.hide(href='#!/rooms' data-js-enter) Listen

