//- .index_page
.frosty
  .logo
  h1 Jukebuzz

  p.slogan Your office team listening

  a.btn.btn-lg.btn-default.index_page__button(href='/auth/github' target='_blank' data-js-sign-in) Sign in with Github
  a.btn.btn-lg.btn-default.index_page__button(href='#!/rooms' data-js-enter) Listen

