$color-bg: #eee;
$color-white: #fff;
$color1: #04756F;
$color2: #ff8c00;


html,
body{
  position: relative;
  height: 100%;
}
body {
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: #eee;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


