$color-bg: #eee;
$color-white: #f9faf9;
$color1: #7ec04c;
$color2: #ffaa42;


html,
body{
  position: relative;
  height: 100%;
}
body {
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


