//- .currentuser_widget
.user
  i.user__close.fa.fa-times(data-js-close)
  img.user__avatar(data-js-avatar)
  .user__info
    .user__name(data-js-name)

    .user__coins
      span(data-js-coins)
      |  coins

