.currentuser_widget{
  .user{
    @extend .clearfix;
    padding: 10px;
    &__name{
      font-size: 20px;
      font-weight: bold;
      color: #fff;
    }

    &__info{
      float: left;
      width: 150px;
      height: 70px;
    }

    &__close{
      cursor: pointer;
      position: absolute;
      right: 10px;
      font-size: 15px;
      &:hover{
        color: #fff;
      }
    }

    &__avatar{
      background-color: #fff;
      float: left;
      margin-right: 10px;
      line-height: 100px;
      display: inline-block;
      border-radius: 999px;
      width: 50px;
      height: 50px;
    }
  }

}
