//-genetated file
script#CurrentUserWidget(type='text/template')
  include CurrentUserWidget/CurrentUserWidget
script#NavigationWidget(type='text/template')
  include NavigationWidget/NavigationWidget
script#RoomAddWidget(type='text/template')
  include RoomAddWidget/RoomAddWidget
script#VisualisationWidget(type='text/template')
  include VisualisationWidget/VisualisationWidget
