//- .roomshare_modal
extends ../Modal/_Modal
//-block content
//-block header
block body
  h3
    |Room #
    span(data-js-name)
  p.message Copy this link and send it your friends to share this room
  input.input(data-js-link readonly)
//-block footer
