#navigation-layout
  include NavigationLayout/NavigationLayout
#content-layout
  include ContentLayout/ContentLayout
#footer-layout
  include FooterLayout/FooterLayout
#modal-layout
  include ModalLayout/ModalLayout
