.tracksearch_item{
  font-size: 14px;
  font-family: sans-serif;
  @extend .clearfix;
  padding: 2px 18px;
  border-bottom: 1px solid #eee;
  &__info{
  }
  &__albumart{
    background-color: $color-white;
    width: 49px;
    height: 49px;
    float:left;
  }
  .track_item__title{
    float: left;
    height: 49px;
    line-height: 49px;
    white-space: nowrap;
    max-width: 400px;
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .track_item__duration{
    height: 49px;
    line-height: 49px;
    float: right;
    margin-right: 10px;
    color: #aaa;
  }
  &:hover{
    background-color: #f4dcb0;
    .track_item__duration{
      display: none;
    }
    .buzz{
      display: block;
    }
  }
  &.added{
    .buzz{
      transform: translate(150px, 0);
    }
  }
  .buzz{
    transition: 0.4s 0.4s;
    display: none;
    float: right;
    font-variant: small-caps;
    border: 1px solid;
    padding: 3px 5px;
    margin-right: 10px;
    margin-top: 12px;
    cursor: pointer;
    &:hover{
      background-color: $color-white;
    }
  }
  .artist{
    font-weight: bold;
    padding-right: 10px
  }
  .track{
    padding-left: 10px;
  }
  .icon-play{
    display: none;
  }
  &.active .icon-play{
    @extend .img_index_playing;
    display: block;
    float: left;
    margin-left: -49px;
    width: 49px;
    height: 49px;
    background-position: 50% 100%;
    opacity: 0.7;
  }

  &.added .before-add{
    display: none;
  }
  span.after-add{
    display: none;
  }
  &.added .after-add{
    display: inline;
  }


}
