//- .tracksearch_item
img.track_item__albumart(data-js-artwork)
.icon-play
.track_item__title
  span.artist(data-js-artist)
  |-
  span.track(data-js-title)

.track_item__duration(data-js-duration) 3:52
.buzz(data-js-add)
  span.before-add add to playlist
  span.after-add added to playlist
