.track_item{
  &.first{

    font-size: 16px;
    padding: 14px 18px;
    .track_item__title,
    .track_item__duration{
      height: 76px;
      line-height: 76px;
    }
    .track_item__albumart{
      height: 76px;
      width: 76px;
    }
    .buzz{
      margin-top: 25px;
      padding: 5px 8px;
    }
    .track_item__sclogo{
      @extend .img_main_sc-logo-40;
      margin-top: 16px;
      margin-left: 4px;
  }

  }
  .icon-play{
    display: none;
  }
  &.first .icon-play{
    @extend .img_index_playing;
    display: block;
    float: left;
    margin-left: -76px;
    width: 76px;
    height: 76px;
    background-position: 50% 100%;
    opacity: 0.7;
  }
  font-size: 14px;
  font-family: sans-serif;
  @extend .clearfix;
  padding: 2px 18px;
  border-bottom: 1px solid #eee;
  &__info{
  }
  &__albumart{
    background-image: linear-gradient(135deg, #e6846e, #846170);
    width: 49px;
    height: 49px;
    float:left;
  }
  .track_item__title{
    float: left;
    height: 49px;
    line-height: 49px;
    white-space: nowrap;
    max-width: 70%;
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .track_item__duration{
    height: 49px;
    line-height: 49px;
    float: right;
    margin-right: 10px;
    color: #aaa;
  }
  .track_item__sclogo{
    @extend .img_main_sc-logo-32;
    display: inline-block;
    margin-top: 8px;
    margin-left: 3px;
  }
  &:hover{
    background-color: rgba(244, 220, 176, 0.5);
    // .track_item__duration{
    //   display: none;
    // }
    .buzz{
      display: block;
    }
  }
  .buzz{
    display: none;
    float: right;
    font-variant: small-caps;
    border: 1px solid;
    padding: 3px 5px;
    margin-right: 10px;
    margin-top: 12px;
    cursor: pointer;
    &:hover{
      background-color: $color-white;
    }
  }
  .artist{
    font-weight: bold;
    padding-right: 10px
  }
  .track{
    padding-left: 10px;
  }

}
