.room_list{
  position: relative;
  padding-left: 2px;
  .add{
    position: absolute;
    right: 10px;
    cursor: pointer;
    &:hover{
      color: #fff;

    }
  }

  .title{
    text-transform: uppercase;
    margin-left: 8px;
  }

  .list{
    margin-top: 6px;
  }

}
