//-genetated file
script#RoomItem(type='text/template')
  include RoomItem/RoomItem
script#RoomList(type='text/template')
  include RoomList/RoomList
script#TrackItem(type='text/template')
  include TrackItem/TrackItem
script#TrackList(type='text/template')
  include TrackList/TrackList
