#navigation-layout{
  color: #ff8c00;
  $bgc: $color1;
  width: 300px;
  height: 100%;
  background-color: $bgc;
  overflow: hidden;
  position: absolute;
  transition: transform 0.4s;
  transform: translate(-300px, 0);
  &.visible{
    transform: translate(0, 0);
  }
  a.logo{
    margin: 20px 20px 10px 20px;
    font-size: 40px;
    color: #ff8c00;
    text-decoration: none;
  }
  hr.separator{
    border-style: none;
    border-bottom: 1px solid #fff;
  }
}
