//- .confirm_modal
extends ../Modal/_Modal
//-block content
//- block header
block body
  p.question(data-js-question) Do you want leave this room?
block footer
  .btn.btn-ok(data-js-ok) Yes
  .btn.btn-cancel(data-js-cancel) No
