//- .track_item
img.track_item__albumart(data-js-artwork)
.track_item__title
  span.number(data-js-number)
  | .&nbsp;
  span.artist(data-js-artist)
  |-
  span.track(data-js-title)

.track_item__duration(data-js-duration) 3:52
.buzz buzz!

