.main_page{
  background-image: url(../images/index/bg.jpg);
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  &__content{
    height: 100%;;
    width: 940px;
    margin: 0 auto;
    min-height: 100%;
  }

  &__navigation{
    float: left;
    width: 300px;
    background-color: $color-white;
    background-color: rgba(255, 255, 255, 0.90);
    height: 100%;
  }
  &__musicarea{
    width: 940px - 300px;
    float: right;
    height: 100%;
    background-color: $color-white;
    background-color: rgba(255, 255, 255, 0.8);

  }

  &__playlist,
  &__search{
    // position: absolute;s
    // width: 50%;
    // height: 100%;
  }
  &__playlist{
    right: 0;
  }
  &__search{
    background-color: rgba(213,206,255, 0.85);
    left: 0;
  }
}
