.main_page{
  background-image: url(../images/main/bg-cross.jpg);
  background-size: cover;
  background-position: 50%;
  position: absolute;
  height: 100%;
  width: 100%;
  &__content{
    height: 100%;;
    width: 940px;
    margin: 0 auto;
    min-height: 100%;
  }

  &__visualisation{}

  &__navigation{
    float: left;
    width: 240px;
    background-color: rgba(200, 200, 200, 0.90);
    height: 100%;
  }
  &__musicarea{
    width: 940px - 240px;
    float: right;
    height: 100%;
    background-color: $color-white;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    overflow: hidden;
  }

  &__playlist{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 46px;
  }
  &__search{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
  }
  &__search{
    top: 100px;
    background-color: $color-white;
  }

  .animated{
    transition: 0.6s;
  }

}
